<div class="gallery-grid">
    {{ $galleryPath := "images/gallery/*" }}
    {{ $galleryImages := resources.Match $galleryPath }}
    
    {{ if $galleryImages }}
        {{ range $galleryImages }}
        <div class="gallery-item">
            {{ $thumbnail := .Fill "400x300 Center" }}
            <img src="{{ $thumbnail.RelPermalink }}" alt="{{ .Name }}" loading="lazy">
        </div>
        {{ end }}
    {{ else }}
        <p>No gallery images found. Add images to assets/images/gallery/</p>
    {{ end }}
</div>
