<header>
    <div class="container">
        <div class="title-container">
            <a href="{{ .Site.BaseURL }}" class="site-title-link">
                <h1 class="site-title">{{ .Site.Title }}</h1>
            </a>
            {{ with .Site.Params.subtitle }}<div class="site-subtitle">{{ . }}</div>{{ end }}
        </div>
        <nav>
            <ul>
                {{ range .Site.Menus.main }}
                    {{ if ne .Name "Gallery" }}
                    <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                    {{ end }}
                {{ end }}
            </ul>
        </nav>
    </div>
</header>